*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    height: 100vh;
}

i{
    color: white;
    margin: 1rem;
}

img{
    background-color: transparent;
}

.userLogo{
    width: 25px;
    background-color: transparent;
}

.services{
    padding: 1rem;
}

.ifot{
    margin: 0;
}

.epicodeBtn, .maturingP{
    background-color: #929292;
}

.langBtn{
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.langBtn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.form-check-input{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #929292;
}

.image, .text{
    display: inline-block;
    vertical-align: top;
}